.footer {
  width: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 5rem;

  background: rgba(26, 63, 33, 1);
  .footerWrapper {
    padding: 1rem 0;
    .content {
      color: #33753f;
    }
  }
}
