.hero {
  height: 100vh;
  position: relative;
  overflow: hidden;
  margin-bottom: 10rem;
  .bg {
    position: absolute;
    inset: 0;
    background-size: cover;
    background-position: center;
  }

  .overlay {
    position: absolute;
    inset: 0;

    display: grid;
    place-items: center;

    text-align: center;
    //backdrop-filter: blur(2px); //BACKGROUND BLUR
    z-index: 2;
    .heroContent {
      max-width: 80vh;
      h2 {
        font-size: 3rem;
        margin-top: 5rem;
      }
      .btn {
        color: #ffffff;

        padding: 1.5rem 1.5rem;
        border: none;
        border-radius: 1rem;
        width: 15rem;

        font-size: 1.3rem;
        font-weight: 600;

        cursor: pointer;
        transition: all 0.5s ease;

        &:hover {
          transform: translateY(-2px);
        }

        &:active {
          transform: translateY(0);
        }
      }
      .registerBtn {
        background-color: #25562e;
        margin: 1.5rem 0;

        &:hover {
          background-color: #2d6938;
        }
      }
      .loginBtn {
        background-color: #33753f;

        &:hover {
          background-color: #2e6838;
        }
      }
    }
  }
}
