.hero {
  height: 90vh;
  position: relative;
  overflow: hidden;
  .bg {
    position: absolute;
    inset: 0;
    background-size: cover;
    background-position: center;
  }

  .overlay {
    position: relative;
    z-index: 2;
    color: white;
    text-align: center;
  }
}
