.hero {
  height: 100vh;
  position: relative;
  overflow: hidden;
  .bg {
    position: absolute;
    inset: 0;
    background-size: cover;
    background-position: center;
    backdrop-filter: blur(0.3rem);
  }

  .overlay {
    position: absolute;
    inset: 0;

    display: grid;
    place-items: center;

    text-align: center;
    z-index: 2;
    .heroContent {
      max-width: 80vh;
      h2 {
        font-size: 3rem;
        margin-top: 5rem;
      }
      .btn {
        color: #ffffff;

        padding: 1.5rem 1.5rem;
        border: none;
        border-radius: 1rem;
        width: 15rem;

        font-size: 1.2rem;
        font-weight: 600;

        cursor: pointer;
        transition: all 0.25s ease;
      }
      .registerBtn {
        background-color: #25562e;
        margin: 1.5rem 0;
      }
      .loginBtn {
        background-color: #33753f;
      }
    }
  }
}
