.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  background: transparent;
  background: rgba(26, 63, 33, 0.4);
  backdrop-filter: blur(0.3rem);

  z-index: 10;
  .nav {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    padding: 1rem 4rem;
    font-size: 1.5rem;
    font-weight: 800;
    .navLeft {
      justify-self: end;
      display: flex;
      gap: 1.5rem;
      list-style: none;
    }

    .logo {
      justify-self: start;
      font-size: 3rem;
    }
  }
}
